.search--bar--container
  .input--search
    input(
      type='text'
      placeholder='Star Wars'
    )
    svgicon(
      @click='search'
      icon="search"
      width="1.5rem"
      height="1.5rem"
      color="#000000"
    )