.search--bar--container
  .input--search
    .input--search--container
      svgicon(
        icon="search"
        width="1.5rem"
        height="1.5rem"
        color="#000000"
      )
      input(
        type='text'
        placeholder='Buscar'
        @focus='onSearching = true'
        @blur='onSearching = false'
      )
    .cancel--container
      p(
        v-show='onSearching'
      )
        | Cancelar
  .results--container(
    v-if='resultsMedia.length > 0'
  )
    search-row(
      v-for='media in resultsMedia'
      :key='media.id'
    )
  .no-result-media(
    v-else
  )
    img(
      src="@/assets/Empty.png"
    )
    h1 Sin resultados